@import "tailwindcss";

:root {
  --background: #ffffff;
  --text: #e8faf5;
  --background: #051612;
  --primary: #8ee4cd;
  --secondary: #1f5882;
  --accent: #5389d6;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

h1 {
  font-weight: 300;
  font-size: 50;
}

h2 {
  font-weight: 300;
  font-size: 30;
}

body {
  background: var(--background);
  color: var(--foreground);
}