.slide {
    padding: 5px 10px 5px 10px;
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--primary );
    border-width: 1px;
    display: inline-flex;
    position: relative;
    z-index: 1;
    width: fit-content;
    border-style: solid;
    text-decoration: none;
    color: var(--text);
    margin: 5px 5px 5px 5px;
    transition: 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: 0s !important;
}

.slide::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--primary);
    z-index: -1;
    transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slide:hover::before {
    width: 100%;
    left: 0;
    right: unset;
}

.slide:hover {
    box-shadow:
        0 0 var(--primary),
        0 0 var(--primary);
    color: var(--background);
}